**
!package.json
!package-lock.json
!tsconfig.json
!tsup.config.ts
!vitest.config.ts
!src/
!src/**
!scripts/
!scripts/central-copy-migrations.mjs
!scripts/central-safety-check.mjs
!LICENSE
!Dockerfile
